body
{
background-color: burlywood;
}
h1
{
    color: #2f5a3a;
}
h2
{
    color: blue;
}
h3
{
    color: brown;
}
a
{
    color: blueviolet;
}
a:hover
{
    color: cadetblue;
}
.veryvisibletext
{
    font-size: 1.5rem;
}
img
{
    width: 500px;
}